<div class="nested-fields">
  <div class="row mx-auto">
    <div class="col-2">
      <%= f.text_field :order_no, class: "form-control", placeholder: "順番" %>
    </div>

    <div class="offset-1 col-6">
      <%= f.text_area :introduction, class: "form-control", placeholder: "調理手順" %>
    </div>
    <%= f.hidden_field :id %>
    <div class="offset-1 col-2 px-0">
      <%= link_to_remove_association "削除", f, class: "btn btn-secondary btn-block" %>
    </div>
  </div>
</div>