// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top-page {
  margin: 0;
  padding: 0;
  width: 90%;
}

//背景画像
.thumbnail {
  background-image: url(circle_cook/app/assets/images/hyousi.jpg);
}

//ランキングタイトル
.title{
  margin-top: 30px;
  color: red;
  font-size: 32px;
}